b {
  color: #FF79C6;
}
h1 {
  color: #F38BA8;
  font-size: 1.3em !important;
}
h2 {
  color: #F3B387;
  font-size: 1.25em !important;
}
h3 {
  color: #A6E3A1;
  font-size: 1.20em !important;
}
h4 {
  color: #90E2D5;
  font-size: 1.15em !important;
}
h5 {
  color: #A0BEFE;
  font-size: 1.10em !important;
}
h6 {
  color: #CBA6F7;
  font-size: 1.05em !important;
}
i {
  color: #A6E3A1;
}
mark {
  background-color: #F1FA8C;
  font-weight: bold;
}
p {
  color: #D6D6D6
}
:root {
  font-size: 16px !important;
  --ls-main-content-max-width: 1100px;
  --ls-link-text-color: ;
  --ls-link-ref-text-color: ;
  --ls-link-ref-text-hover-color:
}
a.tag {
  font-size: 16px !important;
  background-color: #19191C;
}
a[data-ref] {
    color: #BD93F9;
}
a[href^="https"] {
    color: #7DD4E8;
}
a[href^="http"] {
    color: #7DD4E8;
}
blockquote, pre, code, .flashcard {
  background-color: #1C1C1F;
}
.block-content {
  color: #D6D6D6;
}
.external-link::before {
    content: "🌏";
    margin-right: 5px;
}
.external-link {
    border-bottom: 1px solid var(--external-link-color);
    color: var(--external-link-color);
}
