.theme-dark .view-content .kanban-plugin::after {
  content: "";
  position: fixed;
  background-image: url(https://cdn.discordapp.com/attachments/1171851735925522582/1261278237745483807/starfall-gif-46.gif?ex=672759e5&is=67260865&hm=85b1d5eac0f309a61c29481b245cf21b23a9d55ea5cbbb3ec5059cbc55c3622f&);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(0px) brightness(70%) saturate(100%);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.theme-light .view-content .kanban-plugin::after {
  content: "";
  position: fixed;
  background-image: url(https://cdn.discordapp.com/attachments/1171851735925522582/1261278237745483807/starfall-gif-46.gif?ex=672759e5&is=67260865&hm=85b1d5eac0f309a61c29481b245cf21b23a9d55ea5cbbb3ec5059cbc55c3622f&);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(0px) brightness(70%) saturate(100%);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

